/*PHONE*/
@media (max-width: 600px) {

    .div {
        display:  flex;
        align-items: baseline;

        font-weight: 700;
    }

    .openSection {
        color: #d946ef;
    }
}

/*TABLET*/
@media (min-width: 601px) and (max-width: 1400px) {

    .div {
        display:  flex;
        align-items: baseline;

        font-weight: 700;
    }

    .openSection {
        color: #d946ef;
    }
}

/*BROWSER*/
@media (min-width: 1401px) {

    .div {
        display:  flex;
        align-items: baseline;

        font-weight: 700;
    }

    .openSection {
        color: #d946ef;
    }
}