/* ABOUT ME CONTENT ============ .taskbar >===================================== */

#about-me > .window > .content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#about-me > .window > .content > #introduction > #profile-pic {
	/*Dimensions*/
	width: 300px;
	height: 300px;
	margin-right: 45px;

	/*Disposition*/
	float: left;

	/*background and shape*/
	background-image: url('../../images/profilePic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid rgb(100, 100, 100);
	border-radius: 50%;

	/*Effects*/
	shape-outside: circle(50%);
}

#about-me > .window > .content > #introduction > h1 {
	/*Dimensions*/
	font-size: 5rem;
	margin-bottom: 10px;

	/*Effects*/
	color: #fff;
	font-variant: small-caps;
}

#about-me > .window > .content > #introduction > p {
	/*Dimensions*/
	margin-bottom: 5px;
	font-size: 1.6rem;
	
	/*Dispositions*/
	text-align: justify;
	line-height: 1.4;

	/*Effects*/
	color: #fff;
}

#about-me > .window > .content > #introduction > p:first-letter {
	font-size: 2.5rem;
}

#about-me > .window > .content > ul {
	display: flex;
	justify-content: end;
	gap: 10px;
}

#about-me > .window > .content > ul > li > a {
	color: #fff;
	cursor: pointer;
}

#about-me > .window > .content > ul > li > a > i {
	font-size: 6rem;
}

#about-me > .window > .content > ul > li > a > i:hover {
	transform: translateY(-15px);
	transition: 0.2s linear;
	scale: 1.4;
}

#about-me > .window > .content > ul > li > a > i:active {
	color: rgba(255, 50, 142, 0.8);
	transition: 0.05s linear;
}

@media (max-width: 600px) {
    #about-me > .window > .content > #introduction {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#about-me > .window > .content > #introduction > #profile-pic {
		width: 150px;
		height: 150px;
		margin-right: 0px;
		margin-bottom: 10px;
	}

	#about-me > .window > .content > #introduction > h1 {
		font-size: 2.5rem;
	}

	#about-me > .window > .content > #introduction > p {
		font-size: 1.2rem;
	}

	#about-me > .window > .content > ul > li > a > i:hover {
		transform: translateY(0px);
		scale: 1;
	}
}