/* ABOUT ME CONTENT ===================================================================================================================================================================== */

:root {
	/*font*/
	--aboutMe-font: #fff;
	--aboutMe-link-font: #fff;
	--aboutMe-link-font-ACTIVE: rgba(184, 39, 135, 0.8);

	/*border*/
	--aboutMe-profilePic-border: rgb(60, 60, 60);
}

#about-me .content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--aboutMe-font);
}

#about-me .content #profile-pic {
	/*Dimensions*/
	width: 300px;
	height: 300px;
	margin-right: 45px;

	/*Disposition*/
	float: left;

	/*background and shape*/
	background-image: url('../../images/profilePic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid var(--aboutMe-profilePic-border);
	border-radius: 50%;

	/*Effects*/
	shape-outside: circle(50%);
}

#about-me .content h1 {
	/*Dimensions*/
	font-size: 5rem;
	margin-bottom: 10px;

	/*Effects*/
	font-variant: small-caps;
}

#about-me .content p {
	/*Dimensions*/
	margin-bottom: 5px;
	font-size: 1.6rem;

	/*Dispositions*/
	text-align: justify;
	line-height: 1.4;
}

#about-me .content p:first-letter {
	font-size: 2.5rem;
}

#about-me .content ul {
	display: flex;
	justify-content: end;
	gap: 10px;
}

#about-me .content a {
	color: var(--aboutMe-link-font);
	cursor: pointer;
}

#about-me .content i {
	font-size: 6rem;
}

#about-me .content i:hover {
	transform: translateY(-15px);
	transition: 0.2s linear;
	scale: 1.4;
}

#about-me .content i:active {
	color: var(--aboutMe-link-font-ACTIVE);
	transition: 0.05s linear;
}

@media (max-width: 600px) {
	#about-me .content #introduction {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#about-me .content #profile-pic {
		width: 150px;
		height: 150px;
		margin-right: 0px;
		margin-bottom: 10px;
	}

	#about-me .content h1 {
		font-size: 2.5rem;
	}

	#about-me .content p {
		font-size: 1.2rem;
	}

	#about-me .content i:hover {
		transform: translateY(0px);
		scale: 1;
	}
}
