/* MY CERTIFICATES CONTENT ============================================================================================================================================================== */
:root {
	--myCertificate-certification-background: #eee;
	--myCertificate-font: #252525;
	--myCertificate-certification-border: rgb(60, 60, 60);
	--myCertificate-certification-border-HOVER: rgba(184, 39, 135, 1);
	--myCertificate-font-HOVER: rgba(184, 39, 135, 1);
	--myCertificate-medal-border: rgb(10, 10, 10);
	--myCertificate-medal-simbol: rgb(5, 5, 5);
	--myCertificate-medal-gold: rgb(212, 178, 25);
	--myCertificate-medal-silver: rgb(150, 150, 150);
	--myCertificate-certificate-shadow: rgb(2, 4, 24);
}

#my-certificates {
	font-variant: small-caps;
	color: var(--myCertificate-font);
}

#my-certificates a {
	color: var(--myCertificate-font);
	text-decoration: none;
}

#my-certificates a:hover {
	color: var(--myCertificate-font-HOVER);
}

#my-certificates a.ongoing {
	cursor: not-allowed;
}

#my-certificates .content {
	display: flex;
	justify-content: center;
	gap: 25px;
}

#my-certificates .certificate {
	border: 2px solid var(--myCertificate-certification-border);
	height: fit-content;
	box-shadow: 0px 8px 10px var(--myCertificate-certificate-shadow);
}

#my-certificates .certificate:hover {
	border: 2px solid var(--myCertificate-certification-border-HOVER);
}

#my-certificates .certificate-content {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-image: url(../../images/certificate_background.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

#my-certificates .certificate-title  {
	text-align: center;
	font-weight: bolder;
}

#my-certificates .certificate-details {
	text-align: center;
}

#my-certificates .certificate-date {
	text-decoration: underline;
}

#my-certificates .certificate-verification {
	font-weight: bolder;
	text-decoration: none;
}

#my-certificates .medal {
	position: relative;
}

#my-certificates .medal i {
	position: absolute;
}

#my-certificates .medal i.border {
	color: var(--myCertificate-medal-border);
}

#my-certificates .medal i.simbol{
	color: var(--myCertificate-medal-simbol);
}

#my-certificates .medal.gold i.inner {
	color: var(--myCertificate-medal-gold);
}

#my-certificates .medal.silver i.inner {
	color: var(--myCertificate-medal-silver);
}

@media (min-width: 1101px) {
	#my-certificates {
		top: 60px;
		left: 100px;
	}

	#my-certificates .content {
		flex-wrap: wrap;
	}

	#my-certificates .certificate {
		width: 440px;
	}

	#my-certificates .certificate-content {
		padding: 30px 20px 20px 10px;
		height: 300px;
	}

	#my-certificates .certificate-title {
		width: 100%;
		font-size: 4rem;
	}

	#my-certificates .certificate-institution {
		font-size: 3rem;
	}

	#my-certificates .certificate-date {
		font-size: 1.5rem;
	}

	#my-certificates .certificate-verification {
		font-size: 2rem;
		scale: 1;
		opacity: 0;
	}

	#my-certificates a:hover .certificate-verification {
		scale: 1.5;
		opacity: 1;
		transition: 0.15s linear;
	}

	#my-certificates .medal i {
		top: -50px;
		right: 40px;
	}

	#my-certificates .medal i.inner {
		scale: 8;
	}

	#my-certificates .medal i.border {
		scale: 9;
	}

	#my-certificates .medal i.simbol{
		scale: 5;
		right: 36px;
	}
}

@media (max-width: 1100px) {
	#my-certificates .content {
		justify-content: space-between;
		flex-direction: column;
	}

	#my-certificates .certificate {
		width: 100%;
	}

	#my-certificates .certificate-content {
		height: 200px;
	}

	#my-certificates .certificate-content {
		padding: 20px 15px 15px 20px;
	}

	#my-certificates .certificate-title {
		font-size: 3rem;
	}

	#my-certificates .certificate-institution {
		font-size: 2rem;
	}

	#my-certificates .certificate-date {
		font-size: 1.5rem;
	}

	#my-certificates .certificate-verification {
		font-size: 2rem;
	}

	#my-certificates .medal i {
		top: -50px;
		right: 40px;
	}

	#my-certificates .medal i.inner {
		scale: 8;
	}

	#my-certificates .medal i.border {
		scale: 9;
	}

	#my-certificates .medal i.simbol{
		scale: 5;
		right: 36px;
	}
}

@media (max-width: 600px) {

	#my-certificates .medal i {
		top: -30px;
		right: 25px;
	}

	#my-certificates .medal i.inner {
		scale: 5;
	}

	#my-certificates .medal i.border {
		scale: 6;
	}

	#my-certificates .medal i.simbol{
		scale: 4;
		right: 21px;
	}
}
