/* MY SELF-TAUGHT CURRICULUM CONTENT ==================================================================================================================================================== */

#my-curriculum > .window > .content {
	color: rgb(240, 240, 240);
}

#my-curriculum > .window > .content a {
	color: #fff;
	text-decoration: none;
}

#my-curriculum > .window > .content a:hover {
	text-decoration: underline;
}

#my-curriculum > .window > .content a:active {
	color: rgba(255, 50, 142, 0.8);
}

#my-curriculum > .window > .content h1 {
	font-size: 5rem;
	margin-bottom: 10px;
}

#my-curriculum > .window > .content h2 {
	font-size: 2.5rem;
	margin-bottom: 10px;
}

#my-curriculum > .window > .content > h2::before {
	content: "\\==";
}

#my-curriculum > .window > .content > h2::after {
	content: "==/";
}

#my-curriculum > .window > .content h3 {
	margin-bottom: 10px;
	font-size: 2.3rem;
}

#my-curriculum > .window > .content h4 {
	margin-bottom: 10px;
}

#my-curriculum > .window > .content p {
	/*Dimensions*/
	font-size: 1.6rem;
	margin-bottom: 60px;
	margin-right: 10px;

	/*Disposition*/
	text-align: justify;
}

.topic-list {
	margin-bottom: 60px;
}

.topic-list:last-of-type {
	color: rgb(150, 150, 150);
}

.topic-list > li  {
	font-size: 1.6rem;
	padding-left: 40px;
	margin-bottom: 30px;
}

.topic-list:last-of-type > li {
	margin-bottom: 0px;
	padding-left: 40px;
}

.topic-list:last-of-type > li:hover {
	text-decoration: underline;
	transition: 0.1s linear;
	transform: translateX(10px);
}

.subtopic-list > li {
	color: rgb(150, 150, 150);
	font-size: 1.6rem;
}

.subtopic-list > li:hover {
	transition: 0.1s linear;
	transform: translateX(10px);
}

.subtopic-list > .li-readings:hover {
	transform: translateX(0px);
}

.subtopic-list:last-of-type {
	margin-bottom: 20px;
}

.li-readings {
	margin-top: 10px;
}

.li-readings > ul {
	padding-left: 40px;
}

.li-readings > ul > li:hover {
	transition: 0.1s linear;
	transform: translateX(10px);
}

@media (min-width: 1101px) {

    #my-curriculum {
		top: 100px;
		left: 100px;
	}
}

@media (max-width: 600px) {

	.topic-list > li {
		padding-left: 0px;
	}

	.topic-list:last-of-type > li {
		padding-left: 15px;
	}

	.subtopic-list > li {
		padding-left: 15px;
	}

	.li-readings > ul {
		padding-left: 15px;
	}
}