/*PHONE*/
@media (max-width: 600px) {
    
    .div {
        display: flex;
    }
    
    .div_WindowExpanded {
        background-color: #000;
    }
}

/*TABLET*/
@media (min-width: 601px) and (max-width: 1400px) {
    
    .div {
        display: flex;
    }
    
    .div_WindowExpanded {
        background-color: #000;
    }
}

/*BROWSER*/
@media (min-width: 1401px) {
    
    .div {
        display: flex;
    }
    
    .div_WindowExpanded {
        background-color: #000;
    }
}