/*PHONE*/
@media (max-width: 600px) {
    
    .div {
        height: auto;
        margin: auto;
        padding: 5px;
    
        font-size: 24px;
        color: #FFF;
    }
}

/*TABLET*/
@media (min-width: 601px) and (max-width: 1400px) {
    
    .div {
        height: auto;
        margin: auto;
        padding: 5px;
    
        font-size: 24px;
        color: #FFF;
    }
}

/*BROWSER*/
@media (min-width: 1401px) {
    
    .div {
        width: 100%;
        height: auto;
        margin: auto;
        padding-left: 20px;
    
        font-size: 18px;
        color: #FFF;
    
        cursor: pointer;
    }
}
