@media (max-width: 600px) {

    .div_WindowExpanded {
        margin: 0 10px;
        font-size: 1.6rem;
    }

    .div {
        height: calc(100% - 60px);
        width: auto;
        padding: 25px 25px 10px 25px;
    
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .div::-webkit-scrollbar {
        width: 5px;
        height: 95%;
    }
    
    .div::-webkit-scrollbar-thumb {
        background-color: rgb(100, 100, 100);
        border-radius: 5px;
    }
}

@media (min-width: 601px) and (max-width: 1100px) {

    .div_WindowExpanded {
        margin: 0 10px;
        font-size: 1.6rem;
    }

    .div {
        height: calc(100% - 60px);
        width: auto;
        padding: 25px 25px 10px 25px;
    
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .div::-webkit-scrollbar {
        width: 5px;
        height: 95%;
    }
    
    .div::-webkit-scrollbar-thumb {
        background-color: rgb(100, 100, 100);
        border-radius: 5px;
    }
}

@media (min-width: 1101px) {

    .div {
        height: calc(100% - 60px);
        width: auto;
        padding: 25px 25px 10px 25px;
    
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .div::-webkit-scrollbar {
        width: 5px;
        height: 95%;
    }
    
    .div::-webkit-scrollbar-thumb {
        background-color: rgb(100, 100, 100);
        border-radius: 5px;
    }
    
    .div_WindowExpanded {
        margin: 10px 150px;
        font-size: 2.6rem;
    }
    
    .div_WindowNotExpanded {
        margin: 10px;
        font-size: 1.6rem;
    }
}
