/*BROWSER*/
@media (min-width: 1401px) {
    
    .button {
        position: absolute;
        z-index: 10;
    
        display: flex;
        justify-content: center;
    
        width: 43px;
        height: 43px;
        padding-top: 3px;
    
        background-color: #c026d3;
    
        box-shadow: 0px 0px 10px 1px #000;
    
        cursor: pointer;
    
        transition-duration: 400ms;
        transition-timing-function: linear;
    }
    
    .button:hover {
        box-shadow: 0px 0px 10px 1px #c026d3;
    }
    
    .button:active {
        background-color: #FFF;
        transition-duration: 100ms;
    }
    
    .button_SidebarOpen {
        left: 290px;
        top: 50%;
    
        border-radius: 5px 50% 50% 5px;
    
        scale: 1.4;
    }
    
    .button_SidebarClosed {
        left: 67px;
        top: 100px;
    
        border-radius: 50%;
    }
    
    .i {
        font-size: 36px;
    
        opacity: 0.7;
    
        transition-duration: 800ms;
        transition-delay: 400ms;
    }
    
    .i_SidebarOpen {
        transform: rotateY(180deg);
        transition-duration: 800ms;
        transition-delay: 400ms;
    }
}