/*BROWSER*/
@media (min-width: 1401px) {

    .link {
        height: 14px;
        width: 14px;

        border: 1px solid #ef4444;
        border-radius: 50%;

        background-color: #ef4444;

        cursor: pointer;
    }

    .link:active {
        background-color: #dc2626;
    }

    .img {
        width: 8px;
        height: 8px;
        padding: 2px;

        box-sizing: content-box;

        opacity: 0;
    }

    .img:hover {
        opacity: 1;
    }
}