/*BACKGROUND ============================================== */

.background {
	/*Dimensions and Position*/
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 0;

	/*Background and Shape*/
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}