/*BACKGROUND ============================================================================================================================================================================ */

.background {
	/*Dimensions and Position*/
	width: 100vw;
	height: 100vh;

	/*Background and Shape*/
	background-image: url('../images/background.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
