/* WINDOW GENERAL CSS */

.page {
	height: 100vh;
	margin-left: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.page > .window {
	width: 1000px;
	height: 70vh;
	background: rgba(10, 10, 10, 0.65);
	backdrop-filter: blur(6px);
	box-shadow: 0 8px 32px rgb(2, 4, 24);
	border: 2px solid rgba(255, 255, 255, 0.09);
	border-radius: 15px;
}

.page > .window > .colored-top-dots {
	display: flex;
	width: calc(30px*3 + 15px);
	padding: 8px 0;
}

.page > .window > .colored-top-dots > .red-dot {
	width: 15px;
	height: 15px;
	margin-left: 13px;
	border-radius: 50%;
	background-color: rgb(255, 0, 0);
	border: 1px solid rgba(10, 10, 10, 0.65);
	box-shadow: 0 8px 32px rgb(2, 4, 24);
}

.page > .window > .colored-top-dots > .yellow-dot {
	width: 15px;
	height: 15px;
	margin-left: 13px;
	border-radius: 50%;
	background: rgb(255, 255, 0);
	border: 1px solid rgba(10, 10, 10, 0.65);
}

.page > .window > .colored-top-dots > .green-dot {
	width: 15px;
	height: 15px;
	margin-left: 13px;
	border-radius: 50%;
	background: rgb(0, 255, 0);
	border: 1px solid rgba(10, 10, 10, 0.65);
}

.page > .window > .horizontal-line {
	margin: 0 5px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.09);
}

.page > .window > .content {
	margin: 10px 10px;
	padding: 5px;
	width: auto;
	height: calc(100% - 52px);
	overflow: hidden;
	overflow-y: scroll;
}

.page > .window > .content::-webkit-scrollbar {
	width: 5px;
	height: 95%;
}

.page > .window > .content::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}











/* ABOUT ME CONTENT ================================================= */

#about-me > .window > .content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#about-me > .window > .content > #introduction > #profile-pic {
	width: 300px;
	height: 300px;
	background-image: url('../images/profilePic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid rgb(100, 100, 100);
	border-radius: 50%;
	float: left;
	shape-outside: circle(50%);
	margin-right: 15px;
}

#about-me > .window > .content > #introduction > h1 {
	color: #fff;
	font-size: 5rem;
	font-variant: small-caps;
	text-decoration: underline;
	margin-bottom: 10px;
}

#about-me > .window > .content > #introduction > p {
	color: #fff;
	font-size: 1.6rem;
	margin-bottom: 5px;
	text-align: justify;
}

#about-me > .window > .content > #introduction > p:first-letter {
	font-size: 2.5rem;
}

#about-me > .window > .content > ul {
	display: flex;
	justify-content: end;
	gap: 10px;
}

#about-me > .window > .content > ul > li > a {
	color: #fff;
	cursor: pointer;
}

#about-me > .window > .content > ul > li > a > i {
	font-size: 6rem;
}

#about-me > .window > .content > ul > li > a > i:hover {
	
	transform: translateY(-15px);
	transition: 0.2s linear;
	scale: 1.4;
}

#about-me > .window > .content > ul > li > a > i:active {
	color: rgba(255, 50, 142, 0.8);
	transition: 0.05s linear;
}











/* MY SELF-TAUGHT CURRICULUM ============================================ */

#my-curriculum > .window > .content {
	color: rgb(240, 240, 240);
}

#my-curriculum > .window > .content a {
	color: #fff;
	text-decoration: none;
}

#my-curriculum > .window > .content a:hover {
	text-decoration: underline;
}

#my-curriculum > .window > .content a:active {
	color: rgba(255, 50, 142, 0.8);
}

#my-curriculum > .window > .content h1 {
	font-size: 5rem;
	margin-bottom: 10px;
}

#my-curriculum > .window > .content h2 {
	font-size: 2.5rem;
	margin-bottom: 10px;
}

#my-curriculum > .window > .content > h2::before {
	content: "\\==";
}

#my-curriculum > .window > .content > h2::after {
	content: "==/";
}

#my-curriculum > .window > .content h3 {
	padding-left: 20px;
	margin-bottom: 10px;
	font-size: 2rem;
}

#my-curriculum > .window > .content h4 {
	margin-bottom: 10px;
}

#my-curriculum > .window > .content p {
	font-size: 1.6rem;
	margin-bottom: 60px;
	margin-right: 10px;
	text-align: justify;
}

.topic-list {
	margin-bottom: 60px;
}

.topic-list:last-of-type {
	color: rgb(150, 150, 150);
}

.topic-list > li  {
	font-size: 1.6rem;
	padding-left: 40px;
	margin-bottom: 10px;
}

.topic-list:last-of-type > li {
	margin-bottom: 0px;
}

.topic-list:last-of-type > li:hover {
	text-decoration: underline;
	transition: 0.1s linear;
	transform: translateX(10px);
}

.subtopic-list > li {
	color: rgb(150, 150, 150);
	font-size: 1.6rem;
	padding-left: 40px;
}

.subtopic-list > li:hover {
	transition: 0.1s linear;
	transform: translateX(10px);
}

.subtopic-list > .li-readings:hover {
	transform: translateX(0px);
}

.subtopic-list:last-of-type {
	margin-bottom: 20px;
}

.li-readings {
	margin-top: 10px;
}

.li-readings > ul {
	margin-left: 20px;
}

.li-readings > ul > li:hover {
	transition: 0.1s linear;
	transform: translateX(10px);
}










/* MEDIA QUERIES =========================================================== */

@media (max-width: 1100px) {
	.page > .window {
		width: 90%;
		height: 90%;
	}
}

@media (max-width: 600px) {

	.page {
		margin-left: 70px;
		padding-top: 10%;
	}

	.page > .window {
		width: 95%;
		height: 95%;
	}

	#about-me > .window > .content > #introduction {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#about-me > .window > .content > #introduction > #profile-pic {
		width: 150px;
		height: 150px;
		margin-right: 0px;
		margin-bottom: 10px;
	}

	#about-me > .window > .content > #introduction > h1 {
		font-size: 2.5rem;
	}

	#about-me > .window > .content > #introduction > p {
		font-size: 1.2rem;
	}

	#about-me > .window > .content > ul > li > a > i:hover {

		transform: translateY(0px);
		scale: 1;
	}

}