/* WINDOW GENERAL CSS */
.page {
	z-index: 1;
}

.window {
	/*Dimensions*/
	width: 1000px;
	height: 70vh;

	/*Background and Shape*/
	background: rgba(10, 10, 10, 0.65);
	border: 2px solid rgba(255, 255, 255, 0.09);
	border-radius: 10px;

	/*Filters and effects*/
	box-shadow: 0 8px 32px rgb(2, 4, 24);
	backdrop-filter: blur(6px);
}

.taskbar {
	display: flex;
}

.colored-top-dots {
	/*Dimensions*/
	margin: 0px 16px;
	margin-top: 13px;
	margin-bottom: 11px;

	/*Disposition*/
	display: flex;
	width: fit-content;
	gap: 7px;
}

.red-dot,
.yellow-dot,
.green-dot {
	/*Dimensions and positions*/
	width: 14px;
	height: 14px;
	position: relative;

	/*Dispositions*/
	display: grid;
	justify-content: center;
	text-align: center;

	/*Filters and effects*/
	box-shadow: 0 8px 32px rgb(2, 4, 24);
	cursor: pointer;

	/*browser behavior*/
	text-size-adjust: none;
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

.red-dot:hover,
.yellow-dot:hover,
.green-dot:hover {
	color: black;
}

.red-dot {
	background-color: rgb(255, 96, 92);
	border-radius: 50%;
	color: rgb(255, 96, 92);
}

.red-dot:active {
	background-color: rgb(160, 60, 59);
	border: 1px solid rgb(160, 60, 59);;
}

.yellow-dot {
	border-radius: 50%;
	background: rgb(255, 189, 68);
	color: rgb(255, 189, 68);
}

.yellow-dot:active {
	background: rgb(173, 129, 47);
}

.green-dot {
	background: rgb(0, 202, 78);
	border-radius: 50%;
	color: rgb(0, 202, 78);
}

.green-dot:active {
	background-color: rgb(1, 128, 50);
}

.red-dot > p,
.yellow-dot > p,
.green-dot > i {
	/*Dimensions and position*/
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;

	/*Disposition*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.red-dot > p {
	top: -1px;
	font-weight: bold;
	scale: 1.3;
}

.yellow-dot > p {
	top: -2px;
	scale: 2.3;
}

.green-dot > i {
	rotate: 270deg;
}

.draggable {
	/*Dimensions*/
	padding-left: 20px;
	font-size: 1.8rem;

	/*Disposition*/
	display: flex;
	justify-content: start;
	align-items: center;

	/*Effects*/
	color: #fff;
}

.horizontal-line {
	margin: 0 5px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.09);
}

.content {
	/*Dimensions*/
	width: auto;
	height: calc(100% - 52px);
	padding: 25px;
	margin: 10px 10px;

	/*Effects*/
	overflow: hidden;
	overflow-y: scroll;
}

.content::-webkit-scrollbar {
	width: 5px;
	height: 95%;
}

.content::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}











/* ABOUT ME CONTENT ============ .taskbar >===================================== */

#about-me > .window > .content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#about-me > .window > .content > #introduction > #profile-pic {
	/*Dimensions*/
	width: 300px;
	height: 300px;
	margin-right: 45px;

	/*Disposition*/
	float: left;

	/*background and shape*/
	background-image: url('../images/profilePic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid rgb(100, 100, 100);
	border-radius: 50%;

	/*Effects*/
	shape-outside: circle(50%);
}

#about-me > .window > .content > #introduction > h1 {
	/*Dimensions*/
	font-size: 5rem;
	margin-bottom: 10px;

	/*Effects*/
	color: #fff;
	font-variant: small-caps;
}

#about-me > .window > .content > #introduction > p {
	/*Dimensions*/
	margin-bottom: 5px;
	font-size: 1.6rem;
	
	/*Dispositions*/
	text-align: justify;
	line-height: 1.4;

	/*Effects*/
	color: #fff;
}

#about-me > .window > .content > #introduction > p:first-letter {
	font-size: 2.5rem;
}

#about-me > .window > .content > ul {
	display: flex;
	justify-content: end;
	gap: 10px;
}

#about-me > .window > .content > ul > li > a {
	color: #fff;
	cursor: pointer;
}

#about-me > .window > .content > ul > li > a > i {
	font-size: 6rem;
}

#about-me > .window > .content > ul > li > a > i:hover {
	transform: translateY(-15px);
	transition: 0.2s linear;
	scale: 1.4;
}

#about-me > .window > .content > ul > li > a > i:active {
	color: rgba(255, 50, 142, 0.8);
	transition: 0.05s linear;
}











/* MY SELF-TAUGHT CURRICULUM ============================================ */

#my-curriculum > .window > .content {
	color: rgb(240, 240, 240);
}

#my-curriculum > .window > .content a {
	color: #fff;
	text-decoration: none;
}

#my-curriculum > .window > .content a:hover {
	text-decoration: underline;
}

#my-curriculum > .window > .content a:active {
	color: rgba(255, 50, 142, 0.8);
}

#my-curriculum > .window > .content h1 {
	font-size: 5rem;
	margin-bottom: 10px;
}

#my-curriculum > .window > .content h2 {
	font-size: 2.5rem;
	margin-bottom: 10px;
}

#my-curriculum > .window > .content > h2::before {
	content: "\\==";
}

#my-curriculum > .window > .content > h2::after {
	content: "==/";
}

#my-curriculum > .window > .content h3 {
	margin-bottom: 10px;
	font-size: 2.3rem;
}

#my-curriculum > .window > .content h4 {
	margin-bottom: 10px;
}

#my-curriculum > .window > .content p {
	/*Dimensions*/
	font-size: 1.6rem;
	margin-bottom: 60px;
	margin-right: 10px;

	/*Disposition*/
	text-align: justify;
}

.topic-list {
	margin-bottom: 60px;
}

.topic-list:last-of-type {
	color: rgb(150, 150, 150);
}

.topic-list > li  {
	font-size: 1.6rem;
	padding-left: 40px;
	margin-bottom: 30px;
}

.topic-list:last-of-type > li {
	margin-bottom: 0px;
	padding-left: 40px;
}

.topic-list:last-of-type > li:hover {
	text-decoration: underline;
	transition: 0.1s linear;
	transform: translateX(10px);
}

.subtopic-list > li {
	color: rgb(150, 150, 150);
	font-size: 1.6rem;
}

.subtopic-list > li:hover {
	transition: 0.1s linear;
	transform: translateX(10px);
}

.subtopic-list > .li-readings:hover {
	transform: translateX(0px);
}

.subtopic-list:last-of-type {
	margin-bottom: 20px;
}

.li-readings {
	margin-top: 10px;
}

.li-readings > ul {
	padding-left: 40px;
}

.li-readings > ul > li:hover {
	transition: 0.1s linear;
	transform: translateX(10px);
}










/* MEDIA QUERIES =========================================================== */

@media (min-width: 1101px) {

	.page {
		/*Dimensions and Position*/
		width: fit-content;
		position: absolute;
		height: fit-content;
		top: calc(50% - 35vh);
		left: calc(90px + (100vw - 90px)/2 - 500px);

		/*Animation*/
		opacity: 1;
		scale: 1;
	}

	.zIndex2 {
		z-index: 2;
	}

	.hide-page {
		transition: 0.7s linear;
		opacity: 0;
		scale: 0;
	}

	.close-page {
		transition: 0s linear;
		opacity: 0;
		scale: 0;
	}

	.fullscreen {
		position: static;
		margin-left: 90px;
	}

	#my-projects {
		top: 20px;
		left: 100px;
	}

	#my-certificates {
		top: 60px;
		left: 100px;
	}

	#my-curriculum {
		top: 100px;
		left: 100px;
	}

	.fullscreen > .window {
		width: calc(100vw - 90px);
		height: 100vh;	
		border-radius: 0px;
	}

	.fullscreen > .window > .taskbar {
		background-color: #111;
	}

	.fullscreen > .window > .horizontal-line {
		margin: 0px;
	}

	.page > .window > .taskbar > .draggable {
		width: 100%;
		height: auto;
		cursor: pointer;
	}

}

@media (max-width: 1100px) {

	.page {
		/*Dimensions and Position*/
		height: 100vh;
		width: calc(100vw - 90px);
		margin-left: 90px;

		/*Disposition*/
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.draggable {
		cursor: default;
	}

	.page > .window {
		width: 90%;
		height: 90%;
	}
}

@media (max-width: 600px) {

	.page {
		/*Dimensions and Position*/
		height: 100vh;
		width: calc(100vw - 70px);
		padding-top: 10%;
		margin-left: 70px;

		/*Disposition*/
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.draggable {
		cursor: default;
	}

	.page > .window {
		width: 95%;
		height: 95%;
	}

	#about-me > .window > .content > #introduction {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#about-me > .window > .content > #introduction > #profile-pic {
		width: 150px;
		height: 150px;
		margin-right: 0px;
		margin-bottom: 10px;
	}

	#about-me > .window > .content > #introduction > h1 {
		font-size: 2.5rem;
	}

	#about-me > .window > .content > #introduction > p {
		font-size: 1.2rem;
	}

	#about-me > .window > .content > ul > li > a > i:hover {
		transform: translateY(0px);
		scale: 1;
	}

	.topic-list > li {
		padding-left: 0px;
	}

	.topic-list:last-of-type > li {
		padding-left: 15px;
	}

	.subtopic-list > li {
		padding-left: 15px;
	}

	.li-readings > ul {
		padding-left: 15px;
	}
}