/*SIDEBAR ====================================================== */

.sidebar {
	/*Dimensions and Position*/
	width: 90px;
	height: 100vh;
	position: fixed;
	z-index: 999;

	/*Disposition*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	/*Background and Shape*/
	background: rgba(10, 10, 10, 0.65);
	box-shadow: 0 8px 32px rgb(2, 4, 24);
	border-right: 2px solid rgba(255, 255, 255, 0.09);
	backdrop-filter: blur(6px);

	/*Animation*/
	transition: 0.3s linear;

	/*Browser Compatibility*/
	-webkit-backdrop-filter: blur(6px);
}

.sidebar.open {
	width: 300px;
	transition: 0.3s linear;
}

.sidebar > .toggle {
	/*Dimensions and Position*/
	height: 43px;
	width: 43px;
	position: absolute;
	top: 100px;
	right: -22px;

	/*Background and Shape*/
	background-color: rgb(184, 39, 135);
	box-shadow: 0 8px 32px rgb(2, 4, 24);
	border: 2px solid rgba(255, 255, 255, 0.09);
	border-radius: 50%;

	/*Effects*/
	cursor: pointer;
	color: #fff;

	/*Animation*/
	transition: 0.8s linear;
	scale: 1;
}

.sidebar > .toggle:active {
	background: rgba(220, 220, 220, 0.9);
	transition: 0.05s;
}

.sidebar.open > .toggle {
	/*Background and Shape*/
	box-shadow: 0 8px 32px rgb(2, 4, 24);
	border-radius: 5px 50% 50% 5px;

	/*Animation*/
	transform: translate(15px, calc(100vh/2 - 230px));
	transition: 0.4s linear;
	scale: 1.4;
}

.sidebar.open > .toggle:active {
	background: rgba(220, 220, 220, 0.9);
	transition: 0.05s;
}

.sidebar > .toggle > i {
	/*Dimensions and Position*/
	height: 100%;
	width: 100%;
	padding-bottom: 1px;
	font-size: 36px;
	text-size-adjust: none;

	/*Disposition*/
	display: grid;
	justify-content: center;
	align-items: center;

	/*Effects*/
	color: rgba(30, 30, 30, 0.9);

	/*Animation*/
	transition: 0.4s linear;

	/*Browser Compatibility*/
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

.sidebar.open > .toggle > i {
	transform: rotateY(180deg);
}

.sidebar > .menu-label {
	/*Dimensions and Position*/
	width: 100%;
	padding: 15px 0px;
	block-size: fit-content;

	/*Disposition*/
	display:flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

	/*Animation*/
	transition: 0.8s linear;
}

.sidebar.open > .menu-label {
	transition: 0.8s linear;
}

.sidebar > .menu-label > img {
	width: 56px;
	transition: 0.4s;
}

.sidebar.open > .menu-label > img {
	width: 200px;
	transition: 0.4s linear;
}

.sidebar > .menu-label > h1{
	/*Dimensions and Position*/
	margin-top: 12px;
	font-size: 3.6rem;

	/*Disposition*/
	font-variant: small-caps;
	color: #fff;
	pointer-events: none;

	/*Animation*/
	scale: 1;
	opacity: 0;
}

.sidebar.open > .menu-label > h1 {
	/*Dimensions and Position*/
	margin-top: 35px;

	/*Animation*/
	transition: 0.4s linear;
	transition-delay: 0.8s;
	scale: 1;
	opacity: 1;
}

.sidebar > nav {
	/*Dimensions and Position*/
	padding: 0 15px;
	padding-bottom: 15px;
	margin-top: 20px;
	block-size: fit-content;

	transition: 0.4s linear;
}

.sidebar.open > nav {
	transform: translateY(calc(-100vh + 555px));
	transition: 0.4s linear;
	transition-delay: 0.4s;
}

.sidebar > nav > ul > .nav-item {
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}

.sidebar.open > nav > ul > .nav-item {
	width: 80%;
	border-radius: 10px 50px 50px 10px;
}

.sidebar > nav > ul > .nav-item:hover {
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 7px 7px 50px rgb(2, 4, 24);
	transition: 0.4s;
}

.sidebar.open > nav > ul > .nav-item:hover {
	transform: translateX(27px);
}

.sidebar > nav > ul > .nav-item:active {
	background: rgba(255, 50, 142, 0.8);
	transition: 0.05s;
}

.sidebar > nav > ul > .nav-item > a {
	/*Dimensions and Position*/
	height: 56px;
	padding: 0px 16px;

	/*Disposition*/
	display: flex;
	align-items: center;
	justify-items: flex-start;

	/*Effects*/
	text-decoration: none;
	color: #fff;
}

.sidebar > nav > ul > .nav-item > a > i {
	font-size: 2.6rem;
}

.sidebar > nav > ul > .nav-item > a > span {
	/*Dimensions and Position*/
	margin-left: 8px;
	font-size: 1.8rem;

	/*Effects*/
	pointer-events: none;

	/*Animation*/
	opacity: 0;
	scale: 0;
}

.sidebar.open > nav > ul > .nav-item > a > span {
	/*Effects*/
	pointer-events: visible;

	/*Animation*/
	opacity: 1;
	scale: 1;
	transition: 0.4s linear;
	transition-delay: 0.8s;
}

@media (min-width: 1101px) {

	.sidebar > nav > ul {
		display: flex;
		flex-direction: column;
	}

	.sidebar > nav > ul .active {
		/*Dimensions and Position*/
		width: 80px;
		height: 60px;

		/*Background and Shape*/
		background-color: rgba(255, 50, 142, 0.8);
		border: 2px solid rgba(255, 255, 255, 0.09);
	}

	.sidebar > nav > ul .active:hover {
		background-color: rgba(255, 50, 142, 0.8);
		transform: translateX(10px);
	}
}

@media (max-width: 600px) {

	.sidebar {
		width: 70px;
	}

	.sidebar > .toggle {
		top: 8px;
	}

	.sidebar.open > .toggle {
		transform: translateX(10px);
		scale: 1;
	}

	.sidebar > .menu-label {
		margin-top: 70px;
	}

	.sidebar.open > .menu-label {
		margin-top: 25px;
	}

	.sidebar > .menu-label > img {
		opacity: 0;
	}

	.sidebar.open > .menu-label > img {
		opacity: 1;
	}
	
	.sidebar > nav > ul {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	
	.sidebar > nav > ul > .nav-item > a {
		height: 40px;
		padding: 0 9px;
	}

	.sidebar > nav > ul > .nav-item > a > i {
		font-size: 2rem;
	}

	.sidebar > nav > ul > .nav-item > a > span {
		font-size: 1.5rem;
	}
}