* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background-color: rgba(20, 20, 20, 1);
	font-family: 'Roboto', sans-serif;
}

/*AVISO ======================================================== */
.aviso {
	width: 500px;
	height: 500px;
	position: fixed;
	right: 10%;
	top: 20%;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	background: rgba(10, 10, 10, 0.65);
	box-shadow: 0 8px 32px rgb(2, 4, 24);
	border: 2px solid rgba(255, 255, 255, 0.09);
	display:flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	gap: 40px;
}

.aviso > h1 {
	color: #fff;
	font-size: 3.6rem;
	font-variant: small-caps;
	pointer-events: none;
}

/*SIDEBAR ====================================================== */
.sidebar {
	//width: 360px;
	width: 120px;
	height: 100vh;
	position: fixed;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	background: rgba(10, 10, 10, 0.65);
	box-shadow: 0 8px 32px rgb(2, 4, 24);
	border-right: 2px solid rgba(255, 255, 255, 0.09);
}

.sidebar > .logo {
	width: 100%;
	height: 240px;
	padding: 40px 0;
	display:flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	border: 2px solid red;
}

.sidebar > .logo > img {
	//width: 96px;
	width: 56px;
}

.sidebar > .logo > h3{
	margin-top: 12px;
	color: #fff;
	font-size: 3.6rem;
	font-variant: small-caps;
	pointer-events: none;
	scale: 0;
	opacity: 0;
}

/*FIRST SECTION ============================================== */

.section1 {
	height: 100vh;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

