/*PHONE*/
@media (max-width: 600px) {
    
    .Div {
        display: flex;
        width: 100%;
    }
    
    .Ul {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        width: 100%;
    
        font-size: 6rem;
        color: #FFF;
    }
}

/*TABLET*/
@media (min-width: 601px) and (max-width: 1400px) {
    
    .Div {
        display: flex;
        width: 100%;
    }
    
    .Ul {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        width: 100%;
    
        font-size: 6rem;
        color: #FFF;
    }
}

/*BROWSER*/
@media (min-width: 1401px) {
    
    .Div {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    
    .Ul {
        display: flex;
        gap: 10px;
    
        font-size: 6rem;
        color: #FFF;
    }
    
    .Li:hover {
        scale: 1.4;
        transform: translateY(-10px);
        transition-duration: 200ms;
    }
}