.SCRIPT_bringFoward {
    z-index: 3;
}

.SCRIPT_bringBack {
    z-index: 2;
}

.CSS_scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 95%;
}

.CSS_scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
}

.CSS_windowContentHeight {
    height: calc(100% - 60px);
}

.CSS_EnpandedWidth {
    width: calc(100% - 88px);
}

a:hover > .CSS_dotHover {
    opacity: 1;
}