.SCRIPT_bringFoward {
    z-index: 3;
}

.SCRIPT_bringBack {
    z-index: 2;
}

.CSS_scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 95%;
}

.CSS_scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
}

.CSS_windowContentHeight {
    height: calc(100% - 60px);
}

.CSS_EnpandedWidth {
    width: calc(100% - 88px);
}

.CSS_AboutMe_Position {
    top: calc(15vh);
    left: calc(50% - 500px);
}

.CSS_MyProjects_Position {
    top: 12px;
    left: 100px;
}

.CSS_MyCertifications_Position {
    top: 52px;
    left: 100px;
}

.CSS_MySelfTaughtCurriculum_Position {
    top: 92px;
    left: 100px;
}

a:hover > .CSS_dotHover {
    opacity: 1;
}