/*BROWSER*/
@media (min-width: 1401px) {
    
    .li {
        height: 60px;
        cursor: pointer;
    }
    
    .li:active {
        background-color: #c026d3;
    }
    
    .li_Selected {
        background-color: #c026d3;
    }
    
    .li_Selected:hover {
        z-index: 10;
        
        background-color: #a21caf;
    }
    
    .li_Selected:active {
        background-color: #374151;
    }
    
    .li_NotSelected:hover {
        background-color: #374151;
    }
    
    .link {
        display: flex;
        justify-content: flex-start;
    
        height: 56px;
        padding: 16px 0;
    
        color: #fff
    }
    
    .link:focus {
        border-radius: 10px;
        outline-color: #c026d3;
    }
    
    .i {
        margin-left: 30px;
        font-size: 2.6rem;
    }
    
    .span {
        font-size: 1.6rem;
    }
    
    .span_SidebarOpen {
        width: auto;
        padding-left: 14px;
    
        scale: 1;
        opacity: 1;
    
        transition-duration: 400ms;
        transition-delay: 400ms;
    }
    
    .span_SidebarClosed {
        width: 0;
    
        scale: 0;
        opacity: 0;
    }
}